@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;600;700;900&display=swap");

:root {
    --black: #333;
    --gray: #555;
    --white: #fff;
}

* {
    box-sizing: border-box;
}

html,
body {
    color: var(--gray);
    font-family: Kufam, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

a {
    font-size: 24px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
}
